<!-- about.html -->
{% extends "layout.html" %}
{% block body %}

	<div class="container">
	    <div class="row about-content">
	        <div class="col-lg-5 col-lg-offset-1 col-sm-push-6 col-sm-6">
	        <h2 class="section-heading">
	            About Junglr
	        </h2>
            <p class="lead">
            As a jungler, I always wanted to know what impact I was having in a game and this project is an attempt to quantify that. I hope to answer questions such as "What actions will increase my team's chances of winning? What objectives should I prioritize?" If you have any suggestions for features, please email me at admin(at)junglr(dot)com. Thanks!
            </p>
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">
	            Technologies Used
            </h2>
            <p class="lead">
            	<a class="link-unstyled" href="https://angularjs.org/">AngularJS (1.5.9)</a>
	            <br><a class="link-unstyled" href="http://flask.pocoo.org/">Flask (0.11.1)/Jinja2 Backend</a>
	            <br><a class="link-unstyled" href="http://www.pygal.org/en/stable/">Pygal (2.3.0) Charts</a>
	            <br><a class="link-unstyled" href="https://www.python.org/downloads/">Python 3.4.3</a> 
	            <br><a class="link-unstyled" href="https://www.mongodb.com/">MongoDB (3.2.11) NoSQL Database</a>
	            <br><a class="link-unstyled" href="https://aws.amazon.com/">Web Hosting by AWS</a>
	            <br><a class="link-unstyled" href="http://getbootstrap.com/">Bootstrap3 Web Framework</a>
	            <br><a class="link-unstyled" href="https://subtlepatterns.com/noisy-net/">Noisy Net</a> by
	            <a class="link-unstyled" href="http://twitter.com/_mcrdl"> Tom McArdle</a> 
	            licensed under 
	            <a class="link-unstyled" href="http://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA 3.0</a>
	            <br><a class="link-unstyled" href="https://startbootstrap.com/template-overviews/landing-page/">StartBootStrap Landing Page Site Template</a>
            </p>

	        </div>
	        <div class="col-lg-5 col-sm-pull-6  col-sm-6">
	            <div class="clearfix"></div>
	            <h2 class="section-heading">
	            About Me
	            </h2>
	            <p class="lead">
		    Hello and welcome! My name is Johnny. I am a backend developer with a love of all things gaming and data. I enjoy games with an immersive world (Witcher 3, Mass Effect series) and a competitive edge (League Of Legends). They're generally not the same game, but if you have any suggestions, please let me know!
	            </p>
	            <hr class="section-heading-spacer">
	            <h2 class="section-heading">
	            Stats
	            </h2>
	            <p class="lead">MOBA Experience: DotA, DotA2, HoN, LoL. Played a bit of Smite and HotS.
	            <br>Longtime LoL Player (Free UFO Corki!)
	            <br>Season2: 1370(?) ELO
	            <br>Season3: Low Diamond
	            <br>Season4: Low Diamond
	            <br>Season5: High Gold
	            <br>Season6: High Gold
	            <br>Main Role: Jungle
	            <br>Main/Favorite Champ: Vi
	            </p>
	        </div>
	    </div>
	</div>

{% endblock %}
