<div class="btn-group" role="group">
    <label class="chart-select">
        <select class="form-control gtype" name="gtype">
            <option>Bar</option>
            <option>Horizontal Bar</option>
            <option>Stacked Bar</option>
        </select>

        <select class="form-control gdata" name="gdata">
            <option>First Dragon</option>
            <option>Gold Advantage</option>
        </select>

        <select class="form-control gwlt" name="gwlt">
            <option>Wins</option>
            <option>Losses</option>
            <option>Total</option>
            <option>Wins and Losses</option>
            <option>All</option>
        </select>
    </label>
<input type=submit value=Go!>
</div>